<h1>Contact us</h1>

<form action="/contact" method="get">
<label for="member">Please type a name</label>
<input id="member" name="member" type="text" value="<%= params[:member] %>" placeholder="name">
<input type="submit">
</form>

<ol>
<% @members.each do |member| %>
<li><%= member.capitalize %></li>
<% end %>
</ol>

<h2>Please get in touch🎊</h2>

<%= link_to("Go back home", root_path) %>
